<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="/admin/user">User Management</a>
        </li>
        <li>
            <a href="/admin/places">Place Management</a>
        </li>
        <li>
            <a href="/admin/orders">Order Management</a>
        </li>                
    </ul>
</div>
<!-- /#sidebar-wrapper -->